In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('company_employee_details-p3.csv')

In [3]:
df

,sr_no,company,department,employee_id,age,age_when_joined,years_in_the_company,salary,annual_bonus,prior_years_experience,full_time,part_time,contractor
0,0,Glasses,BigData,16,41,38,3,68074.97135,17664.10410,3,0.000000,0.000000,1.000000
1,1,Glasses,AI,56,44,42,2,49092.14746,21551.14108,2,0.000000,0.184991,1.000000
2,2,Cheerper,Support,59,41,40,1,40000.00000,23698.87885,2,0.000000,0.919887,0.662706
3,3,Glasses,Design,40,39,32,7,108192.46550,21570.92966,1,0.930396,0.546206,0.000000
4,4,Glasses,Search Engine,47,30,22,9,71291.19113,21565.50572,2,0.525432,0.938412,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,Cheerper,Search Engine,37,42,35,7,76541.84150,17366.89612,2,0.269842,0.691977,0.038156
4996,4996,Glasses,AI,1,36,25,9,113651.48510,20888.14479,1,0.356024,0.098686,0.545462
4997,4997,Glasses,Search Engine,20,35,30,5,77560.04756,24792.91000,2,0.179350,0.361727,0.459085
4998,4998,Pear,Sales,9,49,48,1,153000.00000,11700.85033,4,1.000000,0.000000,0.585987
4999,4999,Glasses,AI,36,43,38,5,91443.50495,13529.04066,4,0.755094,0.000000,0.462368

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sr_no                   5000 non-null   int64
 1   company                 5000 non-null   object
 2   department              5000 non-null   object
 3   employee_id             5000 non-null   int64
 4   age                     5000 non-null   int64
 5   age_when_joined         5000 non-null   int64
 6   years_in_the_company    5000 non-null   int64
 7   salary                  5000 non-null   float64
 8   annual_bonus            5000 non-null   float64
 9   prior_years_experience  5000 non-null   int64
 10  full_time               5000 non-null   float64
 11  part_time               5000 non-null   float64
 12  contractor              5000 non-null   float64
dtypes: float64(5), int64(6), object(2)
memory usage: 507.9+ KB

In [5]:
#Mean Calculation of Salary
mean=df['salary'].sum()/len(df['salary'])
print("Mean of Salary : ",np.round(mean,2))

Mean of Salary :  87169.77

In [16]:
#Median Calculation
sal=np.array(df['salary'].sort_values())
x=len(sal)
if(x%2==0):
    median=sal[((x//2)+((x//2)+1))//2]
else:
    median=(sal[(x+1)//2])

print("Median of Salary  : ",median)

Median of Salary  :  86638.40854

In [17]:
# Minimum Salary 
min=sal.min()
print("Minimum Salay: ",min)

Minimum Salay:  40000.0

In [18]:
# Maximum Salary
max=sal.max()
print("Maximum Salary: ",max)

Maximum Salary:  153000.0

In [19]:
#Standard Deviation
sal_x=sal-mean
sal_x=sal_x*sal_x
std_dvtn=np.sqrt((sal_x.sum())/len(sal_x))
print("Standard_Deviation : ",std_dvtn)

Standard_Deviation :  28384.677952310747

In [20]:
df['salary'].describe()

count      5000.000000
mean      87169.773408
std       28387.516846
min       40000.000000
25%       66068.490323
50%       86633.575485
75%      107154.507675
max      153000.000000
Name: salary, dtype: float64