In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
db="company_employee_details-p3.csv"

In [3]:
df=pd.read_csv(db)

In [4]:
df

,sr_no,company,department,employee_id,age,age_when_joined,years_in_the_company,salary,annual_bonus,prior_years_experience,full_time,part_time,contractor
0,0,Glasses,BigData,16,41,38,3,68074.97135,17664.10410,3,0.000000,0.000000,1.000000
1,1,Glasses,AI,56,44,42,2,49092.14746,21551.14108,2,0.000000,0.184991,1.000000
2,2,Cheerper,Support,59,41,40,1,40000.00000,23698.87885,2,0.000000,0.919887,0.662706
3,3,Glasses,Design,40,39,32,7,108192.46550,21570.92966,1,0.930396,0.546206,0.000000
4,4,Glasses,Search Engine,47,30,22,9,71291.19113,21565.50572,2,0.525432,0.938412,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,Cheerper,Search Engine,37,42,35,7,76541.84150,17366.89612,2,0.269842,0.691977,0.038156
4996,4996,Glasses,AI,1,36,25,9,113651.48510,20888.14479,1,0.356024,0.098686,0.545462
4997,4997,Glasses,Search Engine,20,35,30,5,77560.04756,24792.91000,2,0.179350,0.361727,0.459085
4998,4998,Pear,Sales,9,49,48,1,153000.00000,11700.85033,4,1.000000,0.000000,0.585987
4999,4999,Glasses,AI,36,43,38,5,91443.50495,13529.04066,4,0.755094,0.000000,0.462368

In [5]:
# mean=df['salary'].sum()/df['salary'].count() - Also Works
mean=df['salary'].sum()/len(df['salary'])

In [6]:
print("Mean of Salary of all Employees : ",round(mean,2)) #Round Function gives Decimal Places upto given numbers

Mean of Salary of all Employees :  87169.77

In [7]:
sal=np.array(df['salary'].sort_values())

In [8]:
sal

array([ 40000.,  40000.,  40000., ..., 153000., 153000., 153000.])

In [9]:
n=len(sal)
if(n%2==0):
    median=((n//2)+((n//2)+1))//2
else:
    median=(n+1)//2

In [10]:
print("Median of The Salary is : ",sal[median])

Median of The Salary is :  86638.40854

In [11]:
print('Minimum Salary is : ',sal.min())

Minimum Salary is :  40000.0

In [12]:
print('Maximum Salary is : ',sal.max())

Maximum Salary is :  153000.0

In [13]:
sal_x=np.array(sal-mean)

In [14]:
sal_x=sal_x*sal_x

In [15]:
std_devtn=np.sqrt((sal_x.sum())/len(sal_x))

In [16]:
print("Standard Deviation is : ",std_devtn)

Standard Deviation is :  28384.677952310747

In [17]:
df.describe()

,sr_no,employee_id,age,age_when_joined,years_in_the_company,salary,annual_bonus,prior_years_experience,full_time,part_time,contractor
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2499.500000,30.608400,38.131800,33.504600,4.662000,87169.773408,18602.668196,2.497600,0.375924,0.387252,0.384871
std,1443.520003,22.867375,6.040143,7.767165,2.547755,28387.516846,4412.142023,1.206103,0.338760,0.341085,0.339714
min,0.000000,1.000000,30.000000,22.000000,1.000000,40000.000000,9000.000000,1.000000,0.000000,0.000000,0.000000
25%,1249.750000,10.000000,33.000000,27.000000,3.000000,66068.490323,15412.930670,1.000000,0.009784,0.022684,0.017663
50%,2499.500000,29.000000,38.000000,33.000000,5.000000,86633.575485,18786.655970,2.000000,0.320972,0.336440,0.343933
75%,3749.250000,47.000000,43.000000,39.000000,7.000000,107154.507675,22282.508897,3.000000,0.642782,0.659128,0.648790
max,4999.000000,80.000000,49.000000,48.000000,9.000000,153000.000000,24792.910000,5.000000,1.000000,1.000000,1.000000

In [18]:
df.dtypes

sr_no                       int64
company                    object
department                 object
employee_id                 int64
age                         int64
age_when_joined             int64
years_in_the_company        int64
salary                    float64
annual_bonus              float64
prior_years_experience      int64
full_time                 float64
part_time                 float64
contractor                float64
dtype: object